PROFILE_NAME=default
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
REGION=eu-central-1
NUM_BOT_INSTANCES=2
INSTANCE_TYPE=t2.micro
BASE_AMI_ID=ami-0ec7f9846da6b0f61
WORLD_NAME=2022DistSys
TERRASTICK_VERSION=terrastick-test-v0.7
TERRASTICK_WORKLOAD=TEL
