root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
charset = utf-8
max_line_length = 120

[{*.java, *.kt}]
ij_java_imports_layout = *, |, javax.**, java.**, |, $*
ij_continuation_indent_size = 8
ij_any_align_multiline_parameters = false

[{*.yml, *.json}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
